<div class="row">
  <div class="col-xs-8 pages">
    <button class="btn btn-primary-outline"
      *ng-for="#page of runeService.page, #i = index"
      (click)="runeService.changePage(i)"
      [ng-class]="{active: runeService.isActive(i)}"
      [tooltip]="{ type: 'rune-sums', data: { sums: page.sums, index: i } }">{{ i + 1 }}
    </button>
  </div>
  <div class="col-xs-4">
    <button class="btn btn-block btn-primary"
      (click)="runeService.addPage()"
      [disabled]="runeService.page.length >= 20">Add
    </button>
    <button class="btn btn-block btn-primary"
      (click)="runeService.removePage()"
      [disabled]="runeService.page.length <= 1">Remove
    </button>
  </div>
</div>