<div id="mastery-page">
  <div class="category {{ category | lowercase }}" *ng-for="#category of masteryService.categories">
    <div class="mastery-row" *ng-for="#row of masteryService.grid[category], #i = index" [ng-class]="{ even: masteryService.isEven(i + 1) }">
      <div class="mastery m{{ mastery }}"
        *ng-for="#mastery of row"
        [tooltip]="{ type: 'mastery', data: { mastery: masteryService.masteries[mastery], rank: masteryService.getRank(mastery) } }"
        (click)="masteryService.addMastery(mastery, $event)"
        (contextmenu)="masteryService.removeMastery(mastery, $event)"
        (wheel)="masteryService.onScroll(mastery, $event)"
        [ng-class]="{ available: masteryService.masteryCheckUp(mastery), active: masteryService.isMasteryActive(mastery), max: masteryService.isMasteryMaxed(mastery) }">

      </div>
    </div>
    <h3>{{ category }}</h3>
  </div>
</div>