<div class="row" *ng-if="!showInput">
  <div class="col-xs-8">
    <h1>{{ masteryService.getName() }}</h1>
  </div>
  <div class="col-xs-4">
    <button class="btn btn-block btn-primary"
      (click)="toggleInput()">Change</button>
  </div>
</div>
<div class="row" *ng-if="showInput">
  <form (ng-submit)="onSubmit()" #nf="form">
    <div class="col-xs-8 form-group">
      <input class="form-control" type="text" placeholder="new rune page name"
      [(ng-model)]="model.name"
      ng-control="name"
      #name="form"
      required>

      <div [hidden]="name.valid" class="alert alert-danger">
        <span>Name is required</span>
      </div>
    </div>
    <div class="col-xs-4 form-group">
      <input class="btn btn-block btn-primary" type="submit" value="Save"
      [disabled]="!nf.form.valid">
    </div>
  </form>
</div>