#tooltip {
  position: absolute;

  width: 250px;
  max-width: 250px;
  max-height: 200px;

  color: #fff;
  border-radius: 5px;
  background-color: rgba(0,0,0, .9);
  box-shadow: 0 0 10px 0 #000;
  z-index: 999;
}

.tooltip-rune {
  padding: 0 1rem;

  text-align: center;
}

.rune-name {
  font-size: 1.1rem;

  margin: 1.5rem 0 .5rem;
}

.rune-description {
  font-size: .8rem;
}

.rune-tier,
.rune-ip {
  font-size: .7rem;

  position: absolute;
  top: 2px;
}

.rune-tier {
  left: 3px;

  color: orange;
}

.rune-ip {
  right: 3px;
}


.type-mark { color: #a1161f; }
.type-seal { color: #c7da27; }
.type-glyph { color: #4fb0f9; }
.type-quintessence { color: #9f60eb; }

.translateX { transform: translateX(-100%); }
.translateY { transform: translateY(-100%); }


/* ==========================================================================
   Masteries
   ========================================================================== */

.ferocity { color: #a1161f; }
.cunning { color: #9f60eb; }
.resolve { color: #4fb0f9; }

.tooltip-mastery {
  padding: .5rem;
}

.mastery-name {
  font-size: 1.2rem;
}

.mastery-rank {
  margin: 0;
  font-size: .8rem;
}

.mastery-description {
  display: none;
  margin: .3rem 0;
  font-size: .8rem;

  &.current,
  &.next {
    display: block;
  }

  &.next {
    color: #666;

    &::before {
      content: 'Next rank:\00a0';
      color: #999;
    }
  }
}