<div id="tooltip" *ng-if="tooltipService.tooltip"
  style.top="{{tooltipService.y}}px"
  style.left="{{tooltipService.x}}px"
  [ng-class]="{translateX: tooltipService.translateX, translateY: tooltipService.translateY}">

  <!-- rune -->
  <div class="tooltip-rune" *ng-if="show('rune')">
    <h3 class="rune-name type-{{ tooltipService.tooltip.data.type }}">{{ tooltipService.tooltip.data.name }}</h3>
    <p class="rune-description">{{ tooltipService.tooltip.data.description }}</p>
    <span class="rune-tier">Tier {{ tooltipService.tooltip.data.tier }}</span>
    <span class="rune-ip">{{ tooltipService.tooltip.data.ip }} ip</span>
  </div>

  <!-- rune-sums -->
  <div class="tooltip-rune-sums" *ng-if="show('rune-sums')">
    <h3 class="rune-page-name">{{ runeService.page[tooltipService.tooltip.data.index].name }}</h3>
    <p *ng-for="#sum of tooltipService.tooltip.data.sums">
      <span>{{ sum.value }}{{ runeService.isPercentage(sum.unitId) }}</span>
      <span>{{ runeService.stats[sum.unitId] }}</span>
    </p>
  </div>

  <!-- mastery -->
  <div class="tooltip-mastery" *ng-if="show('mastery')">
    <h6>{{ tooltipService.tooltip.data.mastery.name }}</h6>
    <p>
      <!-- TODO: update with user data -->
      <span>{{ tooltipService.tooltip.data.rank || 0 }}</span>/
      <span>{{ tooltipService.tooltip.data.mastery.ranks }}</span>

      <!-- TODO: display only current rank -->
      <p *ng-for="#desc of tooltipService.tooltip.data.mastery.description, #i = index"
        [ng-class]="{ hidden: !((i + 1) === tooltipService.tooltip.data.rank) }">
        {{ desc }}
      </p>
    </p>
  </div>
</div>