<div id="tooltip" *ng-if="tooltipService.tooltip"
  style.top="{{tooltipService.y}}px"
  style.left="{{tooltipService.x}}px"
  [ng-class]="{translateX: tooltipService.translateX, translateY: tooltipService.translateY}">

  <!-- rune -->
  <div class="tooltip-rune" *ng-if="show('rune')">
    <h3 class="rune-name type-{{ tooltipService.tooltip.data.type }}">{{ tooltipService.tooltip.data.name }}</h3>
    <p class="rune-description">{{ tooltipService.tooltip.data.description }}</p>
    <span class="rune-tier">Tier {{ tooltipService.tooltip.data.tier }}</span>
    <span class="rune-ip">{{ tooltipService.tooltip.data.ip }} ip</span>
  </div>

  <!-- rune-sums -->
  <div class="tooltip-rune-sums" *ng-if="show('rune-sums')">
    <h3 class="rune-page-name">{{ runeService.page[tooltipService.tooltip.data.index].name }}</h3>
    <p *ng-for="#sum of tooltipService.tooltip.data.sums">
      <span>{{ sum.value }}{{ runeService.isPercentage(sum.unitId) }}</span>
      <span>{{ runeService.stats[sum.unitId] }}</span>
    </p>
  </div>

  <!-- mastery -->
  <div class="tooltip-mastery" *ng-if="show('mastery')">
    <h3 class="mastery-name {{ masteryService.categories[masteryService.getCategory(tooltipService.tooltip.data.mastery.id) - 1] | lowercase }}">{{ tooltipService.tooltip.data.mastery.name }}</h3>
    <p class="mastery-rank"
      [ng-class]="{
        available: masteryService.masteryCheckUp(tooltipService.tooltip.data.mastery.id),
        active: tooltipService.tooltip.data.rank > 0
      }">Rank:
      <span>{{ tooltipService.tooltip.data.rank || 0 }} /</span>
      <span>{{ tooltipService.tooltip.data.mastery.ranks }}</span>
    </p>
    <p class="mastery-description"
      *ng-for="#description of tooltipService.tooltip.data.mastery.description, #i = index"
      [ng-class]="{
        current: tooltipService.tooltip.data.rank - 1 === i,
        next: (tooltipService.tooltip.data.rank || 0) === i
      }">{{ description }}
    </p>
  </div>

  <!-- mastery -->
  <div class="tooltip-mastery-page" *ng-if="show('mastery-page')">
    <h3 class="mastery-page-name">{{ masteryService.getName(tooltipService.tooltip.data.index) }}</h3>

    <!-- temporary -->
    <span *ng-for="#category of tooltipService.tooltip.data.counter">{{ category }}</span>
  </div>
</div>