<div class="container">
  <header class="row main-header center-y">
    <div class="col-4">
      <h1>Summoner's Config</h1>
    </div>
    <div class="col-8">
      <nav>
        <a class="btn" [router-link]="['/' + routes.home.as]">Home</a>
        <a class="btn" [router-link]="['/' + routes.runes.as]">Runes</a>
        <a class="btn" [router-link]="['/' + routes.masteries.as]">Masteries</a>
      </nav>
    </div>
  </header>
  <main class="row main-content">
    <router-outlet></router-outlet>
  </main>
  <tooltip-component></tooltip-component>
</div>