/**
 * This sheet will contain same styles for multiple
 * routes like, for example: runes and masteries aside.
 *
 * Any style that is route dependent should be placed in
 * suitable style sheet, or in component styles if and only
 * if content may cause problems in general sheet. For
 * example class .active for some component should be placed
 * in component styles if cause trouble here(require creazy
 * nesting etc.).
 */


/* ==========================================================================
   Grid
   ========================================================================== */

*,
*::after,
*::before {
  box-sizing: border-box;
}

// wrapper for app
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.row {
  display: flex;
  max-width: 100%;

  // wrap columns if more than 12
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

/* center */
.center,
.center-x,
.center-y {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.center-x {
  justify-content: center;
}

.center-y {
  align-items: center;
}

/* autoscroll */
.scrollable {
  overflow-y: auto;
}

// create columns
@each $column in $columns {
  $width: $column / 12 * 100%;

  .col-#{$column} {
    width: $width;
    padding: 0 1rem;
  }

  .col-offset-#{$column} {
    margin-left: $width;
  }
}


// html and separate classes
// ==========================================================================
html {
  font-size: $base-font-size;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

@include btn;

@each $selector, $font-size in (h1, 4rem), (h2, 3rem), (h3, 2rem), (p, 1.5rem) {
  #{$selector} {
    @include header($font-size);
  }
}

form {
  input[type="text"] {
    @include control {
      border-color: $font-color-secondary;
    }

    color: #000;
    width: 100%;
    background-color: #dedede;

    &:focus {
      border-color: $color-special;
      outline: none;
      background-color: #fff;
    }
  }
}

[disabled] {
  cursor: not-allowed !important;
}

// Main header
// ==========================================================================
.main-header {
  height: $header-height;
  background-color: $header-background-color;
}

// wrapper for content of the app(aside and section)
.main-content {
  overflow: hidden;

  // fill empty space(up to 100vh(it is a column!))
  flex: 1;
}


// Main aside
// ==========================================================================
.main-aside {

  // fixed width of aside
  /* width: 50rem !important; */
  background-color: $aside-background-color;

  > .component {
    overflow-y: hidden;
    flex-shrink: 0;

    // make some space between rows
    padding-top: 1rem;
    padding-bottom: 1rem;

    + .component {
      // visual break
      border-top: 1px solid rgba(255, 255, 255, 0.05);
    }
  }
}

// Group of buttons to change active page.
.page-group {

  > .btn {
    width: calc(20% - .4rem);
    margin-right: .4rem;
    margin-bottom: .4rem;
  }
}

.page-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// Main section
// ==========================================================================
.main-section {
  background: $section-background-color;

  // fill empty space(width)
  flex: 1;
}