/**
 * Style sheet for /masteries route. Often used classes like
 * .active etc. please put in component styles.
 */

#mastery-page {
  display: flex;

  width: 828px;
  height: 479px;

  background-image: url("../img/masteries/mastery-page-background.jpg");
  background-repeat: no-repeat;
}

.category {
  display: flex;
  flex-direction: column;

  padding: 1rem 2.5rem;

  flex: 1 1 33.333333%;
  &.ferocity {
    order: -1;
  }
  &.resolve {
    order: 1;
  }
}

.mastery-row {
  display: flex;

  justify-content: space-between;
  &.even {
    justify-content: center;
  }
}



.mastery {
  position: relative;

  width: 54px;
  height: 54px;
  margin: 7px 5px;

  user-select: none;

  color: #999;

  box-shadow: 0 0 10px 0 #000;
  &::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-image: url("../img/masteries/masteries-sprite.jpg");
    background-repeat: no-repeat;
    filter: grayscale(100%);
  }
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;

    content: "";
    transform: translate(-50%, -50%);

    background-image: url("../img/masteries/mastery-assets-sprite.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  &.available {
    color: #478fca;
  }
  &.active {
    color: #ffd700;
    &::before {
      filter: none;
    }
  }
  > .rank {
    font-size: .7rem;

    position: absolute;
    z-index: 1;
    right: -10px;
    bottom: -10px;

    display: flex;

    width: 30px;
    height: 20px;
    margin: 0;

    border: 2px solid;
    background: #000;

    align-items: center;
    justify-content: center;
  }
}

.mastery-row:not(.even) .mastery {
  transform: scale(.85);
  transform-origin: 0 0;
}

.row2 .max::after {
  width: 58px;
  height: 58px;

  background-position: 0 -54px;
}

.row4 .max::after {
  width: 68px;
  height: 68px;

  background-position: 0 -112px;
}

.row6 .max::after {
  width: 68px;
  height: 68px;

  background-position: 0 -180px;
}

.mastery-category-points,
.mastery-category-point {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mastery-category-point {
  flex-direction: column;
}

.ferocity-image,
.cunning-image,
.resolve-image {
  width: 50px;
  height: 50px;
  background-image: url("../img/masteries/mastery-assets-sprite.png");
  background-repeat: no-repeat;
}

.mastery-keystones {
  display: flex;
}

.ferocity-image {background-position: -68px 0; }
.cunning-image {background-position: -68px -50px; }
.resolve-image {background-position: -68px -100px; }


.m6111::before { background-position: 0 0; }
.m6112::before { background-position: 0 -54px; }
.m6121::before { background-position: 0 -108px; }
.m6122::before { background-position: 0 -162px; }
.m6131::before { background-position: 0 -216px; }
.m6132::before { background-position: 0 -270px; }
.m6141::before { background-position: 0 -324px; }
.m6142::before { background-position: 0 -378px; }
.m6151::before { background-position: 0 -432px; }
.m6152::before { background-position: 0 -486px; }
.m6161::before { background-position: 0 -540px; }
.m6162::before { background-position: 0 -594px; }
.m6163::before { background-position: 0 -648px; }

.m6211::before { background-position: -54px 0; }
.m6212::before { background-position: -54px -54px; }
.m6221::before { background-position: -54px -108px; }
.m6222::before { background-position: -54px -162px; }
.m6231::before { background-position: -54px -216px; }
.m6232::before { background-position: -54px -270px; }
.m6241::before { background-position: -54px -324px; }
.m6242::before { background-position: -54px -378px; }
.m6251::before { background-position: -54px -432px; }
.m6252::before { background-position: -54px -486px; }
.m6261::before { background-position: -54px -540px; }
.m6262::before { background-position: -54px -594px; }
.m6263::before { background-position: -54px -648px; }

.m6311::before { background-position: -108px 0; }
.m6312::before { background-position: -108px -54px; }
.m6321::before { background-position: -108px -108px; }
.m6322::before { background-position: -108px -162px; }
.m6331::before { background-position: -108px -216px; }
.m6332::before { background-position: -108px -270px; }
.m6341::before { background-position: -108px -324px; }
.m6342::before { background-position: -108px -378px; }
.m6351::before { background-position: -108px -432px; }
.m6352::before { background-position: -108px -486px; }
.m6361::before { background-position: -108px -540px; }
.m6362::before { background-position: -108px -594px; }
.m6363::before { background-position: -108px -648px; }