/**
 * This sheet will contain same styles for multiple
 * routes like, for example: runes and masteries aside.
 *
 * Any style that is route dependent should be placed in
 * suitable style sheet, or in component styles if and only
 * if content may cause problems in general sheet. For
 * example class .active for some component should be placed
 * in component styles if cause trouble here(require creazy
 * nesting etc.).
 */


/* ==========================================================================
   Grid
   ========================================================================== */

*,
*::after,
*::before {
  box-sizing: border-box;
}

// wrapper for app
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.row {
  display: flex;
  max-width: 100%;

  // wrap columns if more than 12
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollable {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}

// create columns
@each $column in $columns {
  .col-#{$column} {
    width: #{$column / 12 * 100%};
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }
}


// html
// ==========================================================================
html {
  font-size: $base-font-size;
  font-family: 'Lato', sans-serif;
  color: #fff;
}


// Main header
// ==========================================================================
.main-header {
  font-size: 1.5rem;
  height: $header-height;
  background-color: $header-background-color;
}



// wrapper for content of the app(aside and section)
.main-content {

  // fill empty space(up to 100vh(it is a column!))
  flex: 1;
}




// Main aside
// ==========================================================================
.main-aside {

  // fixed width of aside
  width: 50rem !important;
  background-color: $aside-background-color;

  > .row {
    overflow-y: hidden;

    // make some space between rows
    padding-top: 1rem;
    padding-bottom: 1rem;

    + .row {
      // visual break
      border-top: 1px solid rgba(255, 255, 255, 0.05);
    }
  }
}

// Group of buttons to change active page.
.page-group {
  display: flex;
  flex-wrap: wrap;

  // TODO: button mixin
  /* > button {
    padding: .375rem 0;
    width: calc(20% - 4px);
    margin: 2px;
   }*/
}


// Main section
// ==========================================================================
.main-section {
  background: $section-background-color;

  // fill empty space(width)
  flex: 1;
}