body {
  color: $font-color-primary !important;
  font-family: 'Lato', sans-serif;
}

#container {
  padding: 0;
}

#header,
#main {
  margin: 0;
}

header {
  background-color: $header-background-color;
  height: $header-height;
}