header {
  text-transform: capitalize;
  background-image: linear-gradient(#457198 40%, #013252 75%);
  box-shadow: inset 0 0 10px 0px #7FB1DC;
  cursor: pointer;
  user-select: none;
  height: 40px;
  display: flex;
  align-items: center
}

.type-mark { color: #a1161f; }
.type-seal { color: #c7da27; }
.type-glyph { color: #4fb0f9; }
.type-quintessence { color: #9f60eb; }

h1 {
  margin: 0;
  padding-left: 30px;
  font-size: 1rem;

  &.active {
    color: #fff;
  }
}

#runes-list {
  background-color: #716742;
}